body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

.slots-wrapper {
  position: relative;
  display: flex;
  width: 50vw;
  background-color: #fff;
  border: 4px solid #000;
  overflow: hidden;
}

.slots-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  z-index: 1;
}

.slots-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  z-index: 1;
}

.slot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.slot::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 200%;
}

.slot + .slot {
  border-left: 2px solid #000;
}

.item {
  position: absolute;
  width: 100%;
}

.item::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}

.item img {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.result {
  font-size: 1rem;
  line-height: 1.5;
  min-height: 1lh;
}

.play-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 188px;
  height: 96px;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 0 2px #41001f;
  line-height: 1;
  text-transform: uppercase;
  color: #eaeaea;
  background: transparent;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}

.play-btn:disabled {
  filter: contrast(30%) grayscale(100%);
  transform: scale(0.95);
}

.play-btn:not(:disabled):active {
  transform: scale(0.95);
}

.play-btn-bg {
  position: absolute;
  inset: 0;
  background-image: url("/assets/play_button.png");
  background-repeat: no-repeat;
  background-size: 250% 100%;
  background-position: center;
  background-clip: content-box;
  padding: 0 56px;
  z-index: -1;
}

.play-btn-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 56px;
  background-image: url("/assets/play_button.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.play-btn-bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 56px;
  background-image: url("/assets/play_button.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0;
}
